@import "tailwindcss";

@theme inline {
  --color-primary-dim: #495500;
  --color-primary-container: #daf900;
  --color-surface-container-highest: #dfdcdc;
  --color-on-error-container: #520c00;
  --color-tertiary-container: #ffffff;
  --color-on-tertiary-container: #636262;
  --color-on-surface-variant: #5c5b5b;
  --color-on-background: #2f2e2e;
  --color-on-primary-fixed: #3f4900;
  --color-on-primary: #e6ff62;
  --color-primary: #546200;
  --color-surface: #f9f6f5;
  --color-tertiary: #5c5b5b;
  --color-on-tertiary-fixed-variant: #6e6d6d;
  --color-surface-tint: #546200;
  --color-surface-variant: #dfdcdc;
  --color-surface-container-high: #e5e2e1;
  --color-error-dim: #b92902;
  --color-error: #b02500;
  --color-inverse-on-surface: #9e9c9c;
  --color-surface-container-lowest: #ffffff;
  --color-secondary-dim: #504f4f;
  --color-on-surface: #2f2e2e;
  --color-on-error: #ffefec;
  --color-primary-fixed: #daf900;
  --color-secondary-fixed-dim: #d7d4d3;
  --color-tertiary-fixed-dim: #f3f0f0;
  --color-secondary: #5c5b5b;
  --color-on-primary-container: #505d00;
  --color-tertiary-dim: #504f4f;
  --color-inverse-primary: #ddfc00;
  --color-on-secondary-fixed: #403f3f;
  --color-on-secondary-container: #525151;
  --color-on-primary-fixed-variant: #596700;
  --color-on-secondary: #f5f2f1;
  --color-on-tertiary: #f5f2f1;
  --color-surface-bright: #f9f6f5;
  --color-surface-dim: #d6d4d3;
  --color-surface-container: #eae7e7;
  --color-surface-container-low: #f3f0ef;
  --color-on-secondary-fixed-variant: #5c5b5b;
  --color-secondary-fixed: #e5e2e1;
  --color-tertiary-fixed: #ffffff;
  --color-on-tertiary-fixed: #505050;
  --color-outline: #787676;
  --color-error-container: #f95630;
  --color-outline-variant: #afacac;
  --color-inverse-surface: #0e0e0e;
  --color-secondary-container: #e5e2e1;
  --color-background: #f9f6f5;
  --color-primary-fixed-dim: #cdea00;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
